.error {
    height: 370px;
    background-color: #f5f6f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error p {
    font-family: Roboto Regular, serif;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    max-width: 340px;
    min-width: 320px;
    color: #b6bcbf;
}

.error h3 {
    font-family: Roboto Slab, serif;
    font-size: 26px;
    line-height: 30px;
}