@import url('_white/header__menu-link_white.css');
@import url('_inactive/header__menu-link_inactive.css');
@import url('_selected-white/header__menu-link_selected-white.css');
@import url('_selected-black/header__menu-link_selected-black.css');
@import url('_hover/header__menu-link_hover.css');

.header__menu-link {
  text-decoration: none;
  font-family: Roboto Regular, serif;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 450px) {
  .header__menu-link {
    font-size: 16px;
  }
}