.analytic-day__graph-first-column {
  width: 10%;
  font-size: 12px;
  line-height: 16px;
}

@media (max-width: 768px) {
  .analytic-day__graph-first-column {
    width: 10%;
  }
}

@media (max-width: 600px) {
  .analytic-day__graph-first-column {
    width: 20%;
  }
}