@import url('__grap/analyticDay__graph.css');
@import url('__graph-column/analyticDay__graph-column.css');
@import url('__title/analyticDay__title.css');
@import url('__graph-column-paragraph/analyticDay__graph-column-paragraph.css');
@import url('__graph-count/analyticDay__graph-count.css');
@import url('__graph-title/analyticDay__graph-title.css');
@import url('__graph-first-column/analyticDay__graph-first-column.css');
@import url('__graph-item/analyticDay__graph-item.css');

.analyticDay {
  background-color: #f5f6f7;
  height: 730px;
  padding: 5% 5%;
}