@font-face {
  src: url('../fonts/roboto-regular-webfont.woff');
  font-family: 'Roboto Regular';
}

@font-face {
  src: url('../fonts/robotoslab-regular-webfont.woff');
  font-family: 'Roboto Slab';
}

@font-face {
  src: url('../fonts/roboto-medium-webfont.woff');
  font-family: 'Roboto Medium';
}