@import url('blocks/header/header.css');
@import url('blocks/main/main.css');
@import url('blocks/footer/footer.css');
@import url('blocks/finding/finding.css');
@import url('blocks/customers/customers.css');
@import url('blocks/tech/tech.css');
@import url('blocks/history/history.css');
@import url('blocks/analytics/analytics.css');
@import url('blocks/analyticDay/analyticDay.css');
@import url('blocks/preloader/preloader.css');
@import url('blocks/error/error.css');
@import url('blocks/title-link/title-link.css');
@import url('blocks/glide/glide.css');

@font-face {
  src: url('../fonts/roboto-regular-webfont.woff');
  font-family: 'Roboto Regular';
}

@font-face {
  src: url('../fonts/robotoslab-regular-webfont.woff');
  font-family: 'Roboto Slab';
}

@font-face {
  src: url('../fonts/roboto-medium-webfont.woff');
  font-family: 'Roboto Medium';
}

li {
  list-style-type: none;
}

p, a, ul, body, h1 {
  margin: 0 0 0 0;
}

body {
  max-width: 1440px;
  min-width: 320px;
}
