.analyticDay__graph-count {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  color: #b6bcbf;
}

@media (max-width: 320px) {
  .analyticDay__graph-count {
    display: none;
  }
}