.search-form__input {
  width: 90%;
  border: 0;
  border-radius: 100px;
  height: 62px;
  padding-left: 20px;
  font-family: Roboto Regular, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.search-form__input::placeholder {
  font-family: Roboto Regular, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.search-form__input:focus {
  outline: none !important;
}

@media (max-width: 725px) {
  .search-form__input {
    width: 95%;
    margin-bottom: 5%;
    margin-top: 15%;
  }
}